*.exe
*.sp
*.spdata
*.spdll
*.spexe
*.xml
*.out
*.so
*.a
data/*
!data/simulation.xml
!data/Aerodata.xml
CMakeFiles/*
models/*
bin/*
lib/*
include/*
*.cmake
*.o
CMakeCache.txt
model/CMakeFiles/*
!test.xml
test
test1
build/*
*.pdb
*.kml
*.kmz